@use "../partials/partials";


.ns-menu {
  &__box {
    display: flex;
    justify-content: space-between;
    max-width: toRem(1200);
    margin: auto;

  }
  &__item {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "robotobold", sans-serif;
    font-size: toRem(20);

  }
  &__item--active {
    @extend %link;

  }
}